@using Microsoft.AspNetCore.Identity
@using Microsoft.eShopOnContainers.WebMVC.ViewModels
@using Microsoft.eShopOnContainers.WebMVC.Services

@inject IIdentityParser<ApplicationUser> UserManager

@*@if (Context.User.Identity.IsAuthenticated)*@
@if (User.FindFirst(x => x.Type == "preferred_username") != null)
{
    <section class="col-lg-4 col-md-5 col-xs-12">
        <div class="esh-identity">
            
        </div>
    </section>

    

}
else
{
    

    <section class="col-lg-1 col-xs-12">

    </section>
}
